<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead"><%= t('messages.welcome_msg') %></p>
  <hr class="my-4">
  <p><%= t('messages.menu_msg') %></p>
  <%= render "menu"%>
</div>